[user]
    name = Petter Taule
    email = pettertaule@live.no
[alias]
    s = status
    d = diff
    b = branch
    co = checkout
    cp = cherry-pick
    unstage = reset HEAD --
    last = log -1 HEAD
    hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
[core]
    editor = vim
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = fix
[diff]
    renames = copies
